<script>
    const user = {
        userName: {{name}},
        userId: {{usedId}}
    };
</script>
<h1>
    Hello, {{name}}
</h1>
<form style="width:50%">
    <div class="row"style="margin: 40px" >
        <div class="col">
            <input class="btn btn-primary" style="background-color: darkgreen" type="submit" value="Задать вопрос">
        </div>
        <div class="col">
            <input class="btn btn-primary" style="background-color: blue" type="submit" value="Ответить на вопрос">
        </div>
    </div>
</form>