<script>
    const user = {
        userId: "{{userId}}"
    };
</script>
<ul class="list" id="ul1">
    {{#each students}}
            <div id="div{{this.id}}" class="form-row" style="margin: 30px">
                <div class="col">
                    <label>{{this.name}}</label>
                </div>
            </div>
    {{/each}}
</ul>

